<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<meta charset="utf-8">
<title>Confirm page</title>
</head>
<body>

<div class="container">
<h4>Welcome</h4>
<p th:text="| Client named ${ nom } ${ prenom } a été bien ajouté  
		dans la base de données.|"></p>
</div>

<!--  
	<a th:href="@{ hello/{nom}(nom=${ personne.nom }) }">Hello</a>	
	<!-- En HTML, <a href="hello/Reda">Hello</a> 
	
<div th:object="${ personne }">
	<span th:text="*{ num }"></span>
	<span th:text="*{ nom }"></span>
	<span th:text="*{ prenom }"></span>
</div >	

<div th:with="variable=${ message.length() }">
	<p>
		le message de bienvenue contient
		<span th:text="${ variable }"> </span> lettres
	</p>
</div>


	<div th:each="perso, status : ${ personnes }">
		<span th:text="${ status.index }"></span>
		<span th:text="${ status.count }"></span>
		<span th:text="${ perso.nom}"></span>
		<span th:text="${ perso['prenom'] }"></span>
	</div>
	
	<div th:switch="${ message.length() }">
		<p th:case="1">Un</p>
		<p th:case="2">Deux</p>
		<p th:case="*">Autre</p>
	</div>
	 affiche Autre
	
	<div th:if="${ message.length() >= 15 }" th:text="long"></div>
	<div th:unless="${ message.length() >= 15 }" th:text="court"></div>
	 affiche court -->
	  
</body>
</html>