<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
<!--  <link rel="stylesheet  href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">	-->		
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script th:src="@{js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
<meta charset="utf-8">
<title>First Thymeleaf Page</title>
</head>
<body>
<div class="container">
<h2>To add new Client</h2>
</div>

<div class="container">
<form action="addClient" method="post">
<div class="form-group">
<label for="lastName">Nom :</label> 
<input type="text" class="form-control"  id="lastName" name=lastName>
</div>
<div class="form-group">
<label for ="firstName">Prénom :</label>
 <input type="text" class="form-control"  id="firstName" name="firstName">
</div>

<button class="btn btn-primary" type="submit">Envoyer</button>
</form>
</div>

</body>


</html>